---
- name: Install VirtualBox Guest Additions OS-specifically via package
  block:
    - name: Import installed VirtualBox Guest Additions version check
      ansible.builtin.include_tasks: noauto_check_installed_version.yml
      when: virtualbox_guest_installed_version is not defined

    - name: Check VirtualBox Guest Additions pkg mgr version
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - "noauto_check_pkg_mgr_version_{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
        - "noauto_check_pkg_mgr_version_{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
        - "noauto_check_pkg_mgr_version_{{ ansible_distribution }}.yml"
        - "noauto_check_pkg_mgr_version_{{ ansible_os_family }}.yml"
        - "noauto_check_pkg_mgr_version_{{ ansible_lsb.id }}.yml"
      loop_control:
        loop_var: task_file

    - name: Force install if the version numbers do not match
      ansible.builtin.set_fact:
        virtualbox_guest_force_install: true
      when:
        - virtualbox_guest_installed_version is defined
        - virtualbox_guest_pkg_mgr_version is defined
        - virtualbox_guest_installed_version != virtualbox_guest_pkg_mgr_version

    - name: Install VirtualBox Guest Additions package
      when: virtualbox_guest_installed_version is not defined or virtualbox_guest_force_install
      block:
        - name: Display detected hypervisor type
          ansible.builtin.debug:
            msg: "Detected hypervisor: {{ virtualbox_guest_hypervisor }}. VirtualBox Guest Additions will be installed via package manager."

        - name: Warn when installing on non-VirtualBox hypervisor
          ansible.builtin.debug:
            msg: "WARNING: Detected hypervisor is '{{ virtualbox_guest_hypervisor }}', not 'virtualbox'. Installation may fail or not function correctly."
          when: virtualbox_guest_hypervisor not in ['virtualbox', 'VirtualBox', 'unknown']

        - name: Uninstall current VirtualBox Guest Additions installation
          ansible.builtin.include_tasks: noauto_uninstall.yml
          when: virtualbox_guest_installed_version is defined and virtualbox_guest_installed_version != ""

        - name: Install VirtualBox Guest Additions OS-specifically via package
          ansible.builtin.include_tasks: "{{ task_file }}"
          with_first_found:
            - "noauto_install_{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
            - "noauto_install_{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
            - "noauto_install_{{ ansible_distribution }}.yml"
            - "noauto_install_{{ ansible_os_family }}.yml"
            - "noauto_install_{{ ansible_lsb.id }}.yml"
          loop_control:
            loop_var: task_file
